<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="CoreySmith.Feature.ErrorHandling.ErrorHandlingConfigurator, CoreySmith.Feature.ErrorHandling" />
    </services>
    <pipelines>
      <httpRequestBegin>
        <processor type="CoreySmith.Feature.ErrorHandling.Pipelines.HttpRequestBegin.HandleLayoutNotFound, CoreySmith.Feature.ErrorHandling"
                   resolve="true"
                   patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.LayoutResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
      <mediaRequestHandler>
        <processor type="CoreySmith.Feature.ErrorHandling.Pipelines.MediaRequestHandler.HandlePermissionDenied, CoreySmith.Feature.ErrorHandling"
                   resolve="true"
                   patch:before="processor[@type='CoreySmith.Feature.ErrorHandling.Pipelines.MediaRequestHandler.HandleNotFound, CoreySmith.Feature.ErrorHandling']" />
        <processor type="CoreySmith.Feature.ErrorHandling.Pipelines.MediaRequestHandler.HandleNotFound, CoreySmith.Feature.ErrorHandling"
                   resolve="true"
                   patch:before="processor[@type='Sitecore.XA.Foundation.MediaRequestHandler.Pipelines.MediaRequestHandler.HandleErrors, Sitecore.XA.Foundation.MediaRequestHandler']" />
      </mediaRequestHandler>
      <httpRequestProcessed>
        <processor type="CoreySmith.Feature.ErrorHandling.Pipelines.HttpRequestProcessed.SetMediaRequestStatusCode, CoreySmith.Feature.ErrorHandling"
                   patch:before="processor[@type='Sitecore.XA.Feature.ErrorHandling.Pipelines.HtpRequestProcessed.SetStatusCode, Sitecore.XA.Feature.ErrorHandling']" />
      </httpRequestProcessed>
    </pipelines>
  </sitecore>
</configuration>
