<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.getPageItem>
        <processor type="CoreySmith.Foundation.SitecoreExtensions.Pipelines.Mvc.GetPageItem.GetFromContextItem, CoreySmith.Foundation.SitecoreExtensions"
                   resolve="true"
                   patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetPageItem.GetFromRouteUrl, Sitecore.Mvc']" />
      </mvc.getPageItem>
    </pipelines>
  </sitecore>
</configuration>
