<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.SxaRocks"
                       description="SXA Rocks website items"
                       extends="Helix.Base">
          <predicate>
            <include name="Content" database="master" path="/sitecore/content/CoreySmith" />
            <include name="Media" database="master" path="/sitecore/media library/Project/CoreySmith" />
            <include name="Themes" database="master" path="/sitecore/media library/Themes/CoreySmith" />
            <include name="Templates" database="master" path="/sitecore/templates/Project/CoreySmith" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
